In [0]:
print("Hello World from Databricks")

In [0]:
print("this is my main branch")

In [0]:
%sql
CREATE TABLE student (
    student_id INT,
    first_name STRING,
    last_name STRING,
    age INT,
    gender STRING,
    major STRING,
    gpa DOUBLE
);

In [0]:
%sql
INSERT INTO student VALUES
(1, 'Alice', 'Johnson', 20, 'F', 'Computer Science', 3.8),
(2, 'Bob', 'Smith', 21, 'M', 'Mathematics', 3.6),
(3, 'Cathy', 'Lee', 22, 'F', 'Physics', 3.9),
(4, 'David', 'Kim', 19, 'M', 'Biology', 3.2),
(5, 'Eva', 'Brown', 20, 'F', 'Chemistry', 3.5),
(6, 'Frank', 'Garcia', 23, 'M', 'Economics', 3.7),
(7, 'Grace', 'Martinez', 21, 'F', 'Statistics', 3.4),
(8, 'Henry', 'Davis', 20, 'M', 'Engineering', 3.3),
(9, 'Isla', 'Miller', 22, 'F', 'Philosophy', 3.6),
(10, 'Jack', 'Wilson', 19, 'M', 'History', 3.1);